/* OUR DOCTORS SECTION */

.our-doctor__card-box {
  border-radius: 22px !important;
  align-items: flex-end;
  padding: 5px;
  color: #fff;
  font-weight: 700 !important;
  font-size: 20px !important;
  text-shadow: 0px 0px 15px #000;
}

.our-doctor-card {
}

.our-doctors--main-header {
  margin-left: 10px;
  color: var(--text-primary);
  font-weight: 700;
  text-shadow: none;
}

.our-doctor__card__img-wrapper {
  text-align: center;
}

.our-doctor__image {
  width: 100%;
  max-height: 150px;
  border-radius: 10px;
}

.our-doctor__card {
  background: #fff;
  padding: 15px;
  /* margin: 1px; */
  border-radius: 10px;
  min-height: 228px;
  box-shadow: 0px 9px 12px rgba(0, 0, 0, 0.08);
  cursor: pointer;
  transition: all .2s;
}

.our-doctor__card:hover {
  transform: translateY(-2px);
  box-shadow: 4px 4px 14px rgba(0,0,0,0.09);
}

.our-doctor__details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* margin: 12px; */
  text-shadow: none;
  color: black;
}

.our-doctor__name {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  margin-bottom: 4px;
}

.our-doctor__speciality {
  font-size: 14px;
  font-weight: 400;
  color: var(--text-secondary);
  margin: 0
}
