/* UPCOMING APPOINTMENTS SECTION */
.conhistory__card-box {
    height: 100%;
    border-radius: 22px;
    padding: 1.25rem;
    color: #fff;
    font-weight: 700 !important;
    font-size: 20px !important;
    text-shadow: 0px 0px 15px #000;
    overflow: auto;
  }
  .conhistory--main-header {
    margin-left: 5px;
    color: #344767;
    font-weight: 700;
    text-shadow: none;
  }
  
  .conhistory-card-holder {
    width: 100%;
  }
  
  .conhistory-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 22px;
    filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.08));
  }
  
  .conhistory-card__img-wrapper {
    padding: 20px;
    text-align: center;
  }
  
  .img-circle {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    box-shadow: 2px 6px 20px -4px rgb(0 0 0 / 74%);
    -webkit-box-shadow: 2px 6px 20px -4px rgb(0 0 0 / 74%);
  }
  
  .conhistory-card__card-details {
    padding: 20px;
    margin: 10px;
    color: #3e4543;
    /* filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.08)); */
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 10px;
    filter: drop-shadow(0px 9px 12px rgba(0, 0, 0, 0.08));
  }
  
  .conhistory-card__doctor-name {
    text-shadow: none;
    font-size: 15px;
    font-weight: bold;
  }
  
  .conhistory-card__common-span {
    font-size: 14px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    color: #999999;
    
  }
  .conhistory-data {
    font-size: 14px;
    text-decoration: none;
    text-shadow: none;
    font-weight: 400;
    color: #444444;
    
  }
  
  .conhistory-card__card-details--date-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
   
  }
  