/* UPCOMING APPOINTMENTS SECTION */
.card-box {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  background: #efefef;
  border-radius: 22px;
  align-items: flex-end;
  padding: 1.25rem;
  color: #fff;
  font-weight: 700 !important;
  font-size: 20px !important;
  text-shadow: 0px 0px 15px #000;
  overflow: auto;
}
.upcoming-appointment--main-header {
  margin-left: 5px;
  color: #344767;
  font-weight: 700;
  text-shadow: none;
}

.upcoming-appointment-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 22px;
}

.upcoming-appointment-card__img-wrapper {
  padding: 20px;
}

.upcoming-appointment-card__card-details {
  margin: 10px;
  color: black;
}

.upcoming-appointment-card__doctor-name {
  text-shadow: none;
  font-size: 25px;
  font-weight: bold;
}

.upcoming-appointment-card__common-span {
  font-size: 14px;
  text-decoration: none;
  text-shadow: none;
  font-weight: 400;
}

.upcoming-appointment-card__card-details--date-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
