.chat_item-wrapper {
  padding: 0.5rem 0;
  cursor: pointer;
  transition: ease-in-out 0.3s;
  border-left: 5px solid transparent;
}

.chat_item-wrapper:hover {
  background: rgb(242, 241, 241);
  transition: ease-in-out 0.3s;
}
.chat_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.1rem 1rem;
}
.chatItems-wrapper {
  background: white;
  padding: 0.5rem;
}

.chat_item-left {
  display: flex;
  align-items: center;
  justify-content: center;
}
.chat_item-profile {
  margin-right: 1rem;
}
.chat_item-profile img {
  max-width: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.chat_item-text-wrap {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.chat_item-name {
  font-size: 1rem;
  color: #3e4543;
  font-weight: 400;
  text-transform: capitalize;
}
.chat_item-message-wrap {
  display: flex;
  flex-direction: row;
  text-align: left;
  color: #3e4543;
  font-size: 0.8rem;
}
.chat_item-right {
  font-size: 0.8rem;
  text-align: right;
  color: #3e4543;
  font-weight: 400;
}
.chat_item-by {
  margin-right: 0.4rem;
}

.selected-chat-item {
  border-left: 5px solid var(--primary);
  border-radius: 4px;
}

.selected-chat-item .chat_item-name,
.selected-chat-item .chat_item-message-wrap,
.selected-chat-item .chat_item-right {
  color: var(--primary);
}
.chat_lastMessage {
  width: 30ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (max-width: 990px) {
  .chat_lastMessage {
    width: 23ch !important;
  }
}
