.chatPage-wrapper {
    display: flex;
    max-height: 50rem;
    min-height: 50rem;
    width: 100%;

}
.chatPage-wrapper .chat-item-container {
    flex-grow: 2;
    background: white;
    overflow-y: scroll;
}
.chatPage-wrapper .chat-details-container{
    /* flex-grow: 10; */
    flex: 0 0 60%;
    overflow-y: scroll;

}

.chatPage-wrapper .chat-item-container::-webkit-scrollbar {
    display: none;
  }
  .chatPage-wrapper .chat-details-container::-webkit-scrollbar {
    display: none;
  }

