.search_person-input {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 0.4rem;
  align-items: center;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  justify-content: space-around;
  margin: 0.5rem;
  cursor: pointer;
}
.search_person-input input {
  border: none;
  outline: none;
  color: #666666;
  letter-spacing: 0.02em;
  font-size: 1rem;
  flex-grow: 2;
}

.search_person-input input::placeholder {
  color: #3e4543;
  font-size: 1rem;
  color: #666666;
  letter-spacing: 0.02em;
}
.search_person-input input:focus {
  border: none;
  background: transparent;
}
.search_person-input img {
  width: 1.1rem;
  margin-right: 1rem;
}

@media screen and (max-width: 990px) {
  .chat_item-name {
    font-size: 0.9rem !important;
    font-weight: 300 !important;
  }
  .chat_item-right {
    font-size: 0.6rem !important;
    font-weight: 300 !important;
  }
  .chat_item-message-wrap {
    font-size: 0.7rem !important;
  }
  .chatPage-wrapper {
    padding: 0;
  }
}
