:root {
  --primary: #00d0cc;
  --primarysecond: #f6ceb4;
  --secondary: #ff6563;
  --text-primary: #3e4543;
  --text-secondary: #999999;
}

* {
  font-family: "Avenir", sans-serif;
}

body {
  background: #f5f5f5 !important;
}
